<div class="main">
  <div class="content">
    <mat-toolbar color="primary" class="main-toolbar">
      <mat-toolbar-row>
        <span class="header">Voting Application</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-raised-button class="nav-button"><a routerLink="/vote">Vote</a></button>
        <button mat-raised-button class="nav-button"><a routerLink="/candidates">Candidates</a></button>
        <button mat-raised-button class="nav-button"><a routerLink="/voters">Voters</a></button>
        <button mat-raised-button class="nav-button"><a routerLink="/">About</a></button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>
