/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

//TODO: Extract prebuilt-theme primary color here somehow
$color-primary: #3f51b5;

.component-header {
    font-size: xx-large;
    text-align: center;    
    font-weight: bolder;
    color: $color-primary;
}

.component-table {
    text-align: left;
    th {
        font-weight: bold;
        font-size:large
    }
    td {
        color: $color-primary;
    }
    .column-centered {
        text-align: center;;
    }
    width: 100%;
}